<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>index</title>
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/ySelect.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
<h3 align="center">代码生成器</h3>
<form id = "form1" onsubmit="return false" action="##" method="post" th:align="center">
    <HR width="40%" color=#987cb9 SIZE=3>
    <h4>数据库连接信息</h4>
    <p>
        数据库地址：<input type="text" name="hostPort"/>
        数据库名称：<input type="text" name="database"/>
    </p>
    <p>
        数据库账号：<input type="text" name="username"/>
        数据库密码：<input type="password" name="password"/>
    </p>
    <p><button onclick="test()">连接测试</button></p>
    <HR width="40%" color=#987cb9 SIZE=3>
    <p>
        <button onclick="select()">获取表</button>
    </p>
    <p>
        <div id="tablesdiv">

        </div>
    </p>
    <p>去掉前缀：<input type="text" name="prefix"/></p>
    <HR width="40%" color=#987cb9 SIZE=3>
    <h4>选择生产的文件</h4>
    <p>
        <input type="checkbox" name="category" value="1" />dao文件--
    </p>
    <p>
        <input type="checkbox" name="category" value="2" />service接口--
    </p>
    <p>
        <input type="checkbox" name="category" value="3" />serviceImpl接口--
    </p>
    <p>
        <input type="checkbox" name="category" value="4" />webService接口--
    </p>
    <p>
        <input type="checkbox" name="category" value="5" />webServiceImpl接口--
    </p>
    <p>
        <input type="checkbox" name="category" value="6" />controller类--
    </p>
    <p>
        基础包名：<input type="text" name="basePackage"/>
    </p>
    <HR width="40%" color=#987cb9 SIZE=3>
    <p><button onclick="login()">提交</button></p>
</form>
</body>
<script>

    function login() {
        var data = $('#form1').serialize();
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/submit" ,//url
            data: data,
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.success == 1) {
                    alert("成功");
                } else {
                    alert(result.msg);
                }
                ;
            },
            error : function() {
                //alert("异常！");
            }
        });
    }

    function test() {
        var data = $('#form1').serialize();
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/test" ,//url
            data: data,
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.success == 1) {
                    alert("成功");
                } else {
                    alert(result.msg);
                }
                ;
            },
            error : function() {
                //alert("异常！");
            }
        });
    }

    function select() {
        var data = $('#form1').serialize();
        $.ajax({
            url: "/select",      //后台返回json数据
            type: "post",
            dataType: "json",
            data: data,
            success: function (result) {
                if (result.success == 1) {
                    var data = result.data;
                    var optionstring = "";
                    // for (var i = 0; i < data.length; i++) {
                    //     optionstring += "<option value=" + data[i].id + " >" + data[i].tableName + "</option>";
                    //     $("#selectId").html("<option value='0' >请选择表名...</option> "+optionstring);
                    // }

                    for (var i = 0; i < data.length; i++) {
                        optionstring += "<p><input type=\"checkbox\" name=\"tables\" value=" + data[i].tableName + " />" + data[i].tableName + "</p>";
                        $("#tablesdiv").html(optionstring);
                    }
                } else {
                    alert(result.msg);
                }
            },
            error: function (msg) {
                alert("出错了！");
            }
        });
    };


</script>
</html>